.header {
    text-align: center;
    padding: 25px;
    background: white\;
    color: black;
    font-size: 25px;
}
.container {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.time-right {
    float: right;
    color: #aaa;
}
.time-left {
    float: left;
    color: #999;
}
/* .search-box_btn {
    width: 100%;
} */
.search-box_input {
    width: 300px;
    height: 40px;
    border-radius: 24px;
    color: black;
    border: 2px solid #dedede;
}
p {
    font-variant: small-caps;
}